.image-map {
    margin: 0 auto;
    padding: 10px 5px;
    height: auto;
    width: 95%;
    min-height: 60vh;
    border: 1px solid #e7e7e790;
    box-shadow: 0 0 20px -20px #000;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .image-wrapper {
        flex: 0 1 30%;
        margin: 1px;
        
    }

    img {
        object-fit: contain;
        width: 100%;
        height: 100%;
        pointer-events: none;
        user-select: none;
    }
    
    .image-map-marker {
        position: absolute;
        width: 50px;
        height: 50px;
        display: inline-block;
        border-radius: 50%;
        z-index: 10;
    }
}