.nav-steps {
    padding: 25px 250px;
    user-select: none;

    .step-current {
        .ant-steps-item-icon {
            background-color: rgb(93, 207, 160);
            .ant-steps-icon {
                color: #fff;
            }
        }
    }
}